@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Hanalei&display=swap");

body {
  background-color: #272722;
  font-family: "Asap", sans-serif;
  text-align: center;
}

/** Header **/
header {
  background-color: gainsboro;
  font-size: 28px;
  padding: 20px;
}

h1 {
  font-size: 38px;
  margin: 0;
  text-align: center;
}

/** Main **/
/* Scorecard section*/
.scorecard {
  border: 3px outset white;
  border-radius: 5px;
  height: 125px;
  width: 250px;
  background: transparent;
  margin: 50px auto;
  padding: 15px 20px;
  position: relative;
}

.score {
  color: aliceblue;
  font-size: 50px;
  margin: 34px auto;
}

.name-card {
  border-radius: 2px;
  font-size: 16px;
  color: aliceblue;
  background-color: #e25840;
  padding: 5px 5px;
}

#score-rectangle-left {
  position: absolute;
  top: 65px;
  left: -32px;
}

#score-rectangle-right {
  position: absolute;
  top: 65px;
  right: -40px;
}

/* results section*/
h2 {
  color: aliceblue;
  font-family: "Hanalei", cursive;
  font-size: 34px;
  margin: 40px auto;
}

/* choices section */
.choices {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}

img {
  border: 3px outset white;
  border-radius: 50%;
  cursor: pointer;
  margin: auto 30px;
  padding: 2px;
  width: 60px;
}

.choice-hover:hover {
  width: 85px;
}

/* round section */
h3 {
  color: aliceblue;
  font-size: 24px;
}

/* final section */
#restart {
  border: 5px outset aliceblue;
  border-radius: 10px;
  display: inline-block;
  font-size: 30px;
  color: aliceblue;
  padding: 7.5px 25px;
  margin: 80px auto;
}

#restart:hover {
  cursor: pointer;
  font-size: 35px;
}
